$main_text_color: #1F1F1F;
$span_color: #69AE96;
$headline_font_size: 80px;
$header_nav_color: #A2A2A2;
$background_color_1: #F1F6F8;
$background_color_2: #F5FCF8;
$background_color_3: #F5F9FA;
$white_color: white;
$btn_border_radius: 41px;
$input_border_radius: 6px;
$btn_shadow: 0 12px 24px 0 rgba(44, 39, 56, 0.08);
$input_border_color: #C9CCD4;